@charset "utf-8";

.about_wrap{
  margin:0px 0px 0px 50px;
}

.skills{
  max-width:200px;
  width:100%;
  flex-direction: column;
  li{
    button{
      width:200px;
      height:100px;
      margin:10px 0px;
      border-radius: 10px 0px 10px 0px;
      color:var(--color-white);
      font-family: var(--font-pixel);
      font-size: 24px;
      box-shadow: 0 0 0 1px var(--color-lightblue) inset;
      background-color: var(--color-lightblack);
      flex-direction: column;
    }
    button.active{
      box-shadow: 0 0 0 1px var(--vs-y) inset;
    }
  }
}

// skills 토끼 영역
.a_h3{
  text-align: center;
  font-size: 40px;
  color:var(--color-white);
  margin-bottom:50px;
}

.char{
  margin:0px 50px 0px 100px;
  max-height:490px;
}

// 스테이터스 영역
.status{
  max-width:414px;
  width:100%;
  max-height:490px;
  background-color: var(--color-lightblack);
  border-radius: 10px 0px 10px 0px;
  box-shadow: 0 0 0 1px var(--color-lightblue) inset;
}
.s_top{
  height:90px;
  border-bottom:1px solid var(--color-lightblue);
  box-sizing: border-box;
  font-size: 32px;
  color:var(--color-white);
}
.stat{
  margin:50px 20px;
}
.knowledge{
  display:block;
  text-align:center;
  position: relative;
  font-family: var(--font-kor);
  font-size: 24px;
  color:var(--color-white);
  img{
    position: absolute;
    left:120px;
    top:-4px;
  }
}
.know_wrap,
.like_wrap
{
  margin-top:20px;
  margin-left:30px;
  align-items:center;
}
.k_bar{
  width:250px;
  height:30px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--color-lightblue) inset;
}
.per_string{
  margin-left:20px;
  font-family: var(--font-robo);
  font-size: 24px;
  line-height: 30px;
  color:var(--color-white);
}
.like{
  margin-top:20px;
  font-family: var(--font-kor);
  color: var(--color-white);
  font-size: 24px;
  text-align: center;
  transform: translateX(-10px);
}
.s_btns{
  margin:50px 30px;
  justify-content: space-between;
  button{
    width:150px;
    height:60px;
    border-radius: 5px;
    font-size: 24px;
    font-family: var(--font-pixel);
  }
  button:first-child{
    background-color: var(--vs-b);
    position:relative;
    img{
      position:absolute;
      top:50%;
      left:12px;
      transform: translateY(-50%);
    }
  }
  button:nth-child(2){
    background-color: var(--vs-r);
  }
}

.about{
  .a_eng{
    margin:40px 0px 30px;
    font-size: 12px;
    color:var(--color-lightblue);
    text-align: center;
  }
  .a_kor{
    display: block;
    color:var(--color-white);
    font-size:30px;
    font-family: var(--font-kor);
    text-align: center;
  }
}

.hundred{
  animation: pang 1s infinite;
}

@keyframes pang{
  0%{
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(-55%);
  }
  100%{
    transform: translateY(-45%);
  }
}