.about {
  height: calc(100vh - 70px);
}
@media (max-width: 1319px) {
  .about {
    height: calc(100vh - 170px);
  }
}

.about_wrap {
  margin: 0px 0px 0px 50px;
  justify-content: space-evenly;
}

.skills {
  max-width: 200px;
  width: 100%;
  flex-direction: column;
}
.skills li button {
  width: 200px;
  height: 100px;
  margin: 10px 0px;
  border-radius: 10px 0px 10px 0px;
  color: var(--color-white);
  font-family: var(--font-pixel);
  font-size: 1.5rem;
  box-shadow: 0 0 0 1px var(--color-lightblue) inset;
  background-color: var(--color-lightblack);
  flex-direction: column;
}
.skills li button.active {
  box-shadow: 0 0 0 1px var(--vs-y) inset;
}
.skills li button:active {
  transform: translate(2px, 1px);
}

.a_h3 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-white);
  margin-bottom: 50px;
}

.char {
  margin: 0px 50px 0px 100px;
  max-height: 490px;
}

.status {
  max-width: 414px;
  width: 100%;
  max-height: 490px;
  background-color: var(--color-lightblack);
  border-radius: 10px 0px 10px 0px;
  box-shadow: 0 0 0 1px var(--color-lightblue) inset;
}

.s_top {
  height: 90px;
  border-bottom: 1px solid var(--color-lightblue);
  box-sizing: border-box;
  font-size: 2rem;
  color: var(--color-white);
}

.stat {
  margin: 50px 20px;
}

.knowledge {
  display: block;
  text-align: center;
  position: relative;
  font-family: var(--font-kor);
  font-size: 1.5rem;
  color: var(--color-white);
}
.knowledge img {
  position: absolute;
  left: 120px;
  top: -4px;
}

.know_wrap,
.like_wrap {
  margin-top: 20px;
  margin-left: 30px;
  align-items: center;
}

.k_bar {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--color-lightblue) inset;
}

.per_string {
  margin-left: 20px;
  font-family: var(--font-robo);
  font-size: 1.5rem;
  line-height: 30px;
  color: var(--color-white);
}

.like {
  margin-top: 20px;
  font-family: var(--font-kor);
  color: var(--color-white);
  font-size: 1.5rem;
  text-align: center;
  transform: translateX(-10px);
}

.s_btns {
  margin: 50px 30px;
  justify-content: space-between;
}
.s_btns button {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: var(--font-pixel);
}
.s_btns button:first-child {
  background-color: var(--vs-b);
  position: relative;
}
.s_btns button:first-child img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.s_btns button:nth-child(2) {
  background-color: var(--vs-r);
}
.s_btns button:active {
  transform: translate(2px, 1px);
}

.about .a_eng {
  margin: 40px 0px 30px;
  font-size: 0.75rem;
  color: var(--color-lightblue);
  text-align: center;
}
.about .a_kor {
  display: block;
  color: var(--color-white);
  font-size: 1.875rem;
  font-family: var(--font-kor);
  text-align: center;
}

.hundred {
  animation: pang 1s infinite;
}

@keyframes pang {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-55%);
  }
  100% {
    transform: translateY(-45%);
  }
}
.k_move_bar,
.l_move_bar {
  transition: 1s;
}/*# sourceMappingURL=about.css.map */