.about_wrap {
  margin: 0px 20px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1540px) {
  .about_wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 779px) {
  .about_wrap {
    margin: 0px 15px;
  }
}

.skills {
  max-width: 200px;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 1540px) {
  .skills {
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 779px) {
  .skills {
    margin-bottom: 20px;
    gap: 5px;
  }
}
@media (max-width: 395px) {
  .skills {
    gap: 0px;
  }
}
.skills li {
  max-width: 200px;
  width: 100%;
}
@media (max-width: 1319px) {
  .skills li {
    max-width: 150px;
  }
}
.skills li button {
  max-width: 200px;
  min-width: 100px;
  width: 100%;
  max-height: 100px;
  min-height: 50px;
  height: 100%;
  aspect-ratio: 2/1;
  margin: 10px 0px;
  border-radius: 10px 0px 10px 0px;
  color: var(--color-white);
  font-family: var(--font-pixel);
  font-size: 1.25rem;
  border: 1px var(--color-lightblue) inset;
  background-color: var(--color-lightblack);
  flex-direction: column;
  cursor: pointer;
}
@media (max-width: 1540px) {
  .skills li button {
    margin: 0;
  }
}
@media (max-width: 1319px) {
  .skills li button {
    max-width: 150px;
    max-height: 75px;
    font-size: 1rem;
  }
}
@media (max-width: 779px) {
  .skills li button {
    font-size: 0.875rem;
    min-width: 50px;
    min-height: 25px;
  }
}
@media (max-width: 602px) {
  .skills li button {
    font-size: 0.75rem;
    border: 0.5px var(--color-lightblue) inset;
  }
}
@media (max-width: 602px) {
  .skills li button {
    font-size: 0.625rem;
  }
}
.skills li button.active {
  border: 1px var(--vs-y) inset;
}
.skills li button:active {
  transform: translate(2px, 1px);
}
.skills li button:hover {
  color: var(--color-darksig);
}

.a_h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--color-white);
  margin-bottom: 50px;
}
@media (max-width: 1540px) {
  .a_h3 {
    line-height: 90px;
    margin-bottom: 0px;
    font-size: 1.75rem;
  }
}
@media (max-width: 1319px) {
  .a_h3 {
    font-size: 1.5rem;
  }
}

.char {
  padding: 0px 20px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  max-height: 490px;
}
@media (max-width: 1540px) {
  .char {
    max-width: 44%;
    padding: 0px 10px;
  }
}
@media (max-width: 779px) {
  .char {
    display: none;
  }
}
.char .per_wrap:hover .per_card {
  transform: rotateY(180deg);
}
.char .per_wrap {
  max-width: 400px;
  min-width: 300px;
  width: 100%;
  max-height: 400px;
  min-height: 300px;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  perspective: 500px;
  margin: 0 auto;
  cursor: pointer;
}
.char .per_wrap .per_card {
  width: 100%;
  height: 100%;
  transition: all 0.7s;
  transform-style: preserve-3d;
}
.char .per_wrap .per_card .per_com {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.char .per_wrap .per_card .per_front {
  z-index: 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.char .per_wrap .per_card .per_back {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-lightblue);
  transform: rotateY(180deg);
  color: var(--color-white);
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-family: var(--font-kor);
}
@media (max-width: 1540px) {
  .char .per_wrap .per_card .per_back {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}
@media (max-width: 779px) {
  .char .per_wrap .per_card .per_back {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
@media (max-width: 395px) {
  .char .per_wrap .per_card .per_back {
    font-size: 1rem;
  }
}

.status {
  max-width: 400px;
  min-width: 350px;
  width: 100%;
  max-height: 490px;
  background-color: var(--color-lightblack);
  border-radius: 10px 0px 10px 0px;
  border: 1px var(--color-lightblue) inset;
}
@media (max-width: 1540px) {
  .status {
    max-width: 44%;
    width: 100%;
  }
}
@media (max-width: 1319px) {
  .status {
    max-width: 36%;
    width: 100%;
  }
}
@media (max-width: 779px) {
  .status {
    max-height: 100%;
  }
}
@media (max-width: 395px) {
  .status {
    min-width: 100%;
  }
}

.s_top {
  height: 90px;
  border-bottom: 1px solid var(--color-lightblue);
  box-sizing: border-box;
  font-size: 1.875rem;
  color: var(--color-white);
}
@media (max-width: 1540px) {
  .s_top {
    font-size: 1.75rem;
  }
}
@media (max-width: 1319px) {
  .s_top {
    font-size: 1.25rem;
  }
}
@media (max-width: 779px) {
  .s_top {
    height: 50px;
  }
}
@media (max-width: 395px) {
  .s_top {
    font-size: 1rem;
  }
}

.stat {
  margin-top: 50px;
  padding: 0px 20px;
  flex-direction: column;
}
@media (max-width: 779px) {
  .stat {
    margin-top: 20px;
  }
}
.stat .per_card.back {
  transform: rotateY(180deg);
}
.stat .per_wrap {
  display: none;
}
@media (max-width: 779px) {
  .stat .per_wrap {
    display: block;
    max-width: 250px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
    perspective: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .stat .per_wrap .per_card {
    width: 100%;
    height: 100%;
    transition: all 0.7s;
    transform-style: preserve-3d;
  }
  .stat .per_wrap .per_card .per_com {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .stat .per_wrap .per_card .per_front {
    z-index: 2;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .stat .per_wrap .per_card .per_back {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--color-lightblue);
    transform: rotateY(180deg);
    color: var(--color-white);
    font-size: 1.875rem;
    line-height: 2rem;
    font-family: var(--font-kor);
  }
}
@media (max-width: 779px) and (max-width: 1540px) {
  .stat .per_wrap .per_card .per_back {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}
@media (max-width: 779px) and (max-width: 779px) {
  .stat .per_wrap .per_card .per_back {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
@media (max-width: 779px) and (max-width: 395px) {
  .stat .per_wrap .per_card .per_back {
    font-size: 1rem;
  }
}

.knowledge {
  display: block;
  text-align: center;
  position: relative;
  font-family: var(--font-kor);
  font-size: 1.5rem;
  color: var(--color-white);
}
@media (max-width: 1540px) {
  .knowledge {
    font-size: 1.25rem;
  }
}
@media (max-width: 1319px) {
  .knowledge {
    font-size: 1.125rem;
  }
}
@media (max-width: 779px) {
  .knowledge {
    font-size: 1rem;
  }
}
@media (max-width: 395px) {
  .knowledge {
    font-size: 0.875rem;
  }
}
.knowledge img {
  position: absolute;
  left: -44px;
  top: -6px;
}
@media (max-width: 779px) {
  .knowledge img {
    top: -10px;
  }
}

.know_wrap,
.like_wrap {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
@media (max-width: 779px) {
  .know_wrap,
  .like_wrap {
    margin-top: 10px;
  }
}

.k_bar {
  max-width: 250px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px var(--color-lightblue) inset;
}
@media (max-width: 779px) {
  .k_bar {
    height: 20px;
  }
}
@media (max-width: 779px) {
  .k_bar {
    max-width: 200px;
  }
}

.per_string {
  font-family: var(--font-robo);
  font-size: 1.25rem;
  line-height: 30px;
  color: var(--color-white);
}
@media (max-width: 1319px) {
  .per_string {
    font-size: 1.125rem;
  }
}
@media (max-width: 779px) {
  .per_string {
    font-size: 1rem;
  }
}
@media (max-width: 395px) {
  .per_string {
    font-size: 0.875rem;
  }
}

.like {
  margin-top: 20px;
  font-family: var(--font-kor);
  color: var(--color-white);
  font-size: 1.5rem;
  text-align: center;
  position: relative;
}
@media (max-width: 779px) {
  .like {
    margin-top: 10px;
  }
}
@media (max-width: 1540px) {
  .like {
    font-size: 1.25rem;
  }
}
@media (max-width: 1319px) {
  .like {
    font-size: 1.125rem;
  }
}
@media (max-width: 779px) {
  .like {
    font-size: 1rem;
  }
}
@media (max-width: 395px) {
  .like {
    font-size: 0.875rem;
  }
}
.like img {
  position: absolute;
  top: 3px;
  left: -30px;
}
@media (max-width: 779px) {
  .like img {
    top: -2px;
  }
}

.s_btns {
  width: 100%;
  height: 100%;
  margin: 50px 0;
  gap: 10px;
}
@media (max-width: 779px) {
  .s_btns {
    margin: 20px 0;
  }
}
.s_btns button {
  max-width: 150px;
  min-width: 100px;
  max-height: 60px;
  min-height: 40px;
  width: 100%;
  height: 100%;
  aspect-ratio: 2.5/1;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: var(--font-pixel);
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1540px) {
  .s_btns button {
    font-size: 1.25rem;
  }
}
@media (max-width: 1319px) {
  .s_btns button {
    font-size: 1.125rem;
  }
}
@media (max-width: 395px) {
  .s_btns button {
    font-size: 0.875rem;
  }
}
.s_btns button:first-child {
  background-color: var(--vs-b);
  position: relative;
}
.s_btns button:first-child img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
@media (max-width: 395px) {
  .s_btns button:first-child img {
    left: 8px;
  }
}
.s_btns button:nth-child(2) {
  background-color: var(--vs-r);
}
.s_btns button:active {
  transform: translate(2px, 1px);
}

.a_eng {
  margin: 40px 0px 30px;
  font-size: 0.75rem;
  color: var(--color-lightblue);
  text-align: center;
}
@media (max-width: 779px) {
  .a_eng {
    font-size: 0.625rem;
  }
}

.a_kor {
  display: block;
  color: var(--color-white);
  font-size: 1.875rem;
  padding-bottom: 50px;
  font-family: var(--font-kor);
  text-align: center;
}
@media (max-width: 1540px) {
  .a_kor {
    font-size: 1.5rem;
  }
}
@media (max-width: 779px) {
  .a_kor {
    font-size: 1.125rem;
  }
}
@media (max-width: 395px) {
  .a_kor {
    font-size: 1rem;
    margin: 0px 15px;
  }
}

.hundred {
  animation: pang 1s infinite;
}

@keyframes pang {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-55%);
  }
  100% {
    transform: translateY(-45%);
  }
}
.k_move_bar,
.l_move_bar {
  transition: 1s;
}/*# sourceMappingURL=about.css.map */