@charset "UTF-8";
.none {
  max-width: 395px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  animation: flicker 3s infinite;
}
.none li {
  font-size: 2.5rem;
  line-height: 40px;
  margin: 15px 20px;
}
@media (max-width: 1650px) {
  .none li {
    font-size: 2rem;
    line-height: 32px;
  }
}
.none li:first-child {
  color: var(--vs-y);
}
.none li:first-child span {
  color: var(--vs-m);
}
.none li:nth-child(2) {
  font-size: 2.25rem;
  text-indent: 20px;
  text-align: end;
  letter-spacing: 2px;
  color: var(--vs-b);
}
@media (max-width: 1650px) {
  .none li:nth-child(2) {
    font-size: 1.75rem;
  }
}
.none li:nth-child(2) span {
  color: var(--color-white);
}
.none li:nth-child(2) strong {
  color: var(--vs-r);
}
.none li:last-child {
  color: var(--vs-m);
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
.gnb_y > a {
  margin-top: 10px;
  display: block;
  box-sizing: border-box;
  color: var(--vs-y);
  font-size: 2.5rem;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 1650px) {
  .gnb_y > a {
    font-size: 2.25rem;
  }
}

.depth_1 {
  max-width: 395px;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
}
.depth_1 li {
  margin: 15px 0px;
  font-size: 2rem;
  line-height: 40px;
}
@media (max-width: 1650px) {
  .depth_1 li {
    font-size: 1.75rem;
    line-height: 32px;
  }
}
.depth_1 li a {
  color: var(--vs-b);
}
.depth_1 li a.active {
  color: var(--vs-r);
}
.depth_1 li:active {
  transform: translate(2px, 1px);
}

.b_text {
  max-height: 214px;
  height: 100%;
  padding: 50px 30px;
  box-sizing: border-box;
}
.b_text li {
  font-family: var(--font-D2);
  font-size: 1rem;
  color: var(--color-white);
}
.b_text li:nth-child(2) {
  color: var(--color-lightblue);
  margin: 25px 0px;
  font-size: 1.75rem;
}
@media (max-width: 1650px) {
  .b_text li:nth-child(2) {
    font-size: 1.5rem;
  }
}

.word.empty {
  visibility: hidden;
}

.b_icons {
  max-height: 70px;
  height: 100%;
  padding: 0px 30px;
  align-items: center;
  box-sizing: border-box;
  gap: 5px;
}
.b_icons li {
  text-align: left;
  width: 10%;
}
.b_icons li span {
  cursor: pointer;
}
.b_icons li span img {
  width: 30px;
  height: 30px;
}
.b_icons li:last-child {
  text-align: end;
  width: 70%;
}

.s_logo {
  padding: 20px;
}
@media (max-width: 495px) {
  .s_logo {
    padding: 20px 10px;
  }
}

.name {
  font-size: 1.5rem;
  margin-left: 20px;
  line-height: 90px;
  color: var(--vs-y);
}
@media (max-width: 615px) {
  .name {
    margin-left: 10px;
    font-size: 1.25rem;
  }
}
@media (max-width: 495px) {
  .name {
    display: none;
  }
}

.s_gnb {
  width: 100%;
  justify-content: center;
}
.s_gnb li {
  margin: 0 20px;
}
@media (max-width: 615px) {
  .s_gnb li {
    margin: 0 10px;
  }
}
.s_gnb li a {
  line-height: 90px;
  font-size: 1.125rem;
  color: var(--vs-b);
}
@media (max-width: 615px) {
  .s_gnb li a {
    font-size: 0.875rem;
  }
}
@media (max-width: 355px) {
  .s_gnb li a {
    font-size: 0.75rem;
  }
}
@media (max-width: 326px) {
  .s_gnb li a {
    font-size: 0.625rem;
  }
}
.s_gnb li a.active {
  color: var(--vs-r);
}
.s_gnb li:active {
  transform: translate(2px, 1px);
}

header {
  display: none;
  height: 90px;
  background-color: var(--color-black);
  border: 1px solid var(--color-sig);
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px 10px 0px;
}
@media (max-width: 1319px) {
  header {
    display: flex;
  }
}

h2 {
  color: var(--color-white);
  font-size: 2rem;
  padding: 50px;
  text-decoration: underline;
}
@media (max-width: 1319px) {
  h2 {
    font-size: 1.75rem;
    padding: 30px;
  }
}
@media (max-width: 615px) {
  h2 {
    font-size: 1.5rem;
    padding: 20px;
  }
}
@media (max-width: 495px) {
  h2 {
    font-size: 1.25rem;
  }
}

article {
  height: calc(100vh - 40px);
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: var(--cont-back);
}
@media (max-width: 1319px) {
  article {
    height: calc(100vh - 120px);
  }
}

article::-webkit-scrollbar {
  width: 1px; /* 스크롤바의 너비 */
}

article::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--color-white); /* 스크롤바의 색상 */
  border-radius: 10px;
}

article::-webkit-scrollbar-track {
  background: none; /*스크롤바 뒷 배경 색상*/
}

.btn {
  padding: 0px;
  width: 150px;
  height: 40px;
  font-family: var(--font-robo);
  font-size: 1rem;
  box-shadow: 0 0 1px var(--color-sig) inset;
  border-radius: 10px;
  background-color: var(--color-darksig);
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover {
  color: var(--color-white);
}

.btn:active {
  transform: translate(2px, 1px);
  color: #fff;
}/*# sourceMappingURL=common.css.map */