.none {
  max-width: 395px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  animation: flicker 3s infinite;
}
.none li {
  font-size: 40px;
  line-height: 40px;
  margin: 10px 0px;
}
.none li:first-child {
  color: var(--vs-y);
}
.none li:first-child span {
  color: var(--vs-m);
}
.none li:nth-child(2) {
  text-align: end;
  color: var(--vs-b);
}
.none li:nth-child(2) span {
  color: var(--color-white);
}
.none li:nth-child(2) strong {
  color: var(--vs-r);
}
.none li:last-child {
  color: var(--vs-m);
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
.gnb_y > a {
  display: block;
  padding: 30px 0px 10px;
  box-sizing: border-box;
  color: var(--vs-y);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.depth_1 {
  max-width: 395px;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.depth_1 li {
  margin: 15px 0px;
  font-size: 32px;
  line-height: 40px;
}
.depth_1 li a {
  color: var(--vs-b);
}
.depth_1 li a:active {
  transform: translateY(2px, 1px);
}
.depth_1 li a.active {
  color: var(--vs-r);
}

.b_text {
  padding: 50px 50px 50px 50px;
  box-sizing: border-box;
}
.b_text li {
  font-family: var(--font-robo);
  font-size: 18px;
  color: var(--color-white);
}
.b_text li:nth-child(2) {
  color: var(--color-lightblue);
  margin: 25px 0px;
  font-size: 28px;
}
.b_text li:nth-child(2) strong {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.b_text li:nth-child(2) .board_title {
  animation: showup 7s infinite;
}
.b_text li:nth-child(2) .board_desc {
  width: 0px;
  animation: reveal 7s infinite;
}
.b_text li:nth-child(2) .board_desc span {
  margin-left: -300px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 20px;
  }
  100% {
    margin-left: 20px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 300px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 300px;
  }
}
.b_icons {
  padding: 0px 50px 30px 50px;
  box-sizing: border-box;
}
.b_icons li span {
  cursor: pointer;
}
.b_icons li:not(:last-child) span {
  margin-right: 20px;
}
.b_icons li:last-child button {
  margin-left: 120px;
}

h2 {
  color: var(--color-white);
  font-size: 32px;
  padding: 50px;
  text-decoration: underline;
}

article {
  height: 100%;
  border-radius: 20px;
  background-color: var(--intro-back);
}

.btn {
  padding: 0px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-family: var(--font-robo);
  font-size: 16px;
  border: 1px solid var(--color-sig);
  border-radius: 10px;
  background-color: var(--color-darksig);
  box-sizing: border-box;
}

.btn:active {
  transform: translate(2px, 1px);
  color: #fff;
}/*# sourceMappingURL=common.css.map */