@charset "utf-8";

.cont_half{
  max-width:2560px;
  width:100%;
  li{
    width:50%;
    div{
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.call_me{
  flex-direction: column;
  img{
    border-radius: 50%;
  }
  li{
    width:100%;
    text-align: center;
    font-family: var(--font-kor);
    font-size:1.5rem;
    color:var(--color-white);
  }
  li:last-child{
    margin-top:50px;
  }
}
.thx{
  margin:40px 0px;
  p{
    margin:10px 0px;
    padding:0px 10px;
    box-sizing: border-box;
  }
}