.web {
  max-width: 100%;
  margin: 0px 50px;
  background-color: var(--port-back);
}
@media (max-width: 1319px) {
  .web {
    margin: 0px 20px 20px;
  }
}
@media (max-width: 615px) {
  .web {
    margin: 0px 15px;
  }
}
.web .swiper-button-next, .web .swiper-button-prev {
  color: var(--color-lightblack);
}

.w_intro {
  max-width: 100%;
  height: 50px;
  background-color: var(--color-lightblack);
  padding: 0px 20px;
  justify-content: space-between;
  gap: 20px;
}
.w_intro li {
  line-height: 50px;
  color: var(--color-white);
  white-space: nowrap;
  font-size: 1.25rem;
}
.w_intro li img {
  margin-right: 20px;
  max-width: 40px;
  max-height: 40px;
}
@media (max-width: 1319px) {
  .w_intro li img {
    max-width: 30px;
    max-height: 30px;
    width: 100%;
  }
}
@media (max-width: 615px) {
  .w_intro li img {
    max-width: 20px;
    max-height: 20px;
  }
}
@media (max-width: 615px) {
  .w_intro li {
    font-size: 1rem;
  }
}
@media (max-width: 365px) {
  .w_intro li {
    font-size: 0.875rem;
  }
}

.works {
  max-width: 100%;
  max-height: 100%;
  padding: 30px;
}
@media (max-width: 790px) {
  .works {
    padding: 20px;
  }
}
@media (max-width: 615px) {
  .works {
    padding: 10px;
  }
}

.work {
  margin: 0 auto;
  max-width: 1050px;
  width: 100%;
  aspect-ratio: 1.5/1;
  max-height: 700px;
  position: relative;
  border-radius: 20px;
}
.work img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .btn {
  position: absolute;
  right: 4%;
  bottom: 10%;
  background: none;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}
@media (max-width: 615px) {
  .work .btn {
    max-width: 100px;
    max-height: 27px;
    right: 4%;
    bottom: 10px;
    font-size: 0.625rem;
  }
}
@media (max-width: 365px) {
  .work .btn {
    max-width: 90px;
    max-height: 24px;
  }
}
.work .btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: bold;
}

.work_desc {
  width: 100%;
  height: 35%;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 50px;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.7);
  font-family: var(--font-robo);
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 790px) {
  .work_desc {
    height: 35%;
    padding: 20px;
  }
}
@media (max-width: 615px) {
  .work_desc {
    height: 45%;
    padding: 16px;
  }
}
@media (max-width: 365px) {
  .work_desc {
    padding: 10px;
  }
}
.work_desc li {
  font-size: 1rem;
}
@media (max-width: 1319px) {
  .work_desc li {
    font-size: 0.875rem;
  }
}
@media (max-width: 615px) {
  .work_desc li {
    width: 50%;
    display: inline-block;
    font-size: 0.75rem;
  }
}
@media (max-width: 365px) {
  .work_desc li {
    font-size: 0.625rem;
  }
}
.work_desc li:first-child {
  font-size: 1.5rem;
  margin-bottom: 24px;
}
@media (max-width: 1319px) {
  .work_desc li:first-child {
    font-size: 1rem;
  }
}
@media (max-width: 615px) {
  .work_desc li:first-child {
    font-size: 0.875rem;
    margin-bottom: 8px;
  }
}
@media (max-width: 365px) {
  .work_desc li:first-child {
    font-size: 0.75rem;
  }
}
.work_desc li:nth-child(2) {
  margin-bottom: 12px;
}
@media (max-width: 615px) {
  .work_desc li:nth-child(2) {
    margin-bottom: 8px;
    text-align: end;
  }
}
@media (max-width: 615px) {
  .work_desc li:last-child {
    width: 50%;
    font-size: 0.75rem;
  }
}
@media (max-width: 365px) {
  .work_desc li:last-child {
    font-size: 0.625rem;
  }
}/*# sourceMappingURL=exp.css.map */