@charset "utf-8";

.intro{
  position: relative;
  height:100%;
  border-radius: 20px;
  background-color: var(--intro-back);
  flex-direction: column;
}

.intro_txt{
  text-align: center;
  flex-direction: column;
  li{
    font-family: var(--font-robo);
    font-size: 40px;
    line-height: 50px;
    color:var(--color-white);
  }
}

.intro > .btn{
  margin-top:50px;
  font-family: var(--font-pixel);
}

.star{
  position: absolute;
  top:-5px;
  left:0;
  animation: star 2s infinite linear;
}

@keyframes star{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}