@charset "utf-8";

$tablet: 1319px;
$desktop: 1320px;
$mobile: 638px;
$b_mobile: 489px;
$nav:1650px;

@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}
@mixin desktop{
  @media (min-width: $desktop){
    @content;
  }
}
@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}
@mixin b_mobile{
  @media (max-width: $b_mobile){
    @content;
  }
}
@mixin nav{
  @media (max-width: $nav){
    @content;
  }
}

.intro{
  position: relative;
  overflow: hidden;
  @include tablet{
    height:calc(100vh - 120px);
  }
  border-radius: 20px;
  flex-direction: column;
  a{
    text-decoration: none;
  }
}

.intro_txt{
  text-align: center;
  flex-direction: column;
  li{
    font-family: var(--font-robo);
    font-size: 2.5rem;
    @include tablet{
      font-size: 2rem;
    }
    @include mobile{
      font-size: 1.5rem;
    }
    @include b_mobile{
      font-size: 1rem;
      line-height: 30px;
    }
    line-height: 50px;
    color:var(--color-white);
  }
}

.intro > a > .btn{
  position:absolute;
  z-index: 9999;
  top:60%;
  left:50%;
  transform: translateX(-50%);
  font-family: var(--font-pixel);
  cursor: pointer;
}

.star{
  position: absolute;
  top:-5px;
  left:0;
  animation: star 2s infinite linear;
  @include mobile{
    width: 100px;
    height: 100px;
    top:0;
  }
}

@keyframes star{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}

.notice{
  position: absolute;
  bottom:20px;
  padding:0px 20px;
  font-family: var(--font-D2);
  font-size: 0.75rem;
  @include mobile{
    font-size: 0.625rem;
  }
  color:var(--color-lightblue);
  text-align: center;
}