@charset "utf-8";

$tablet: 1319px;
$desktop: 1320px;

@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}
@mixin desktop{
  @media (min-width: $desktop){
    @content;
  }
}

$inter_avg:20px;
$inter_min:10px;


body{
  overflow: hidden;
}

main{
  display: flex;
  height:100vh;
  @include tablet{
    flex-direction: column;
    padding:10px 20px 20px;
  }
}
// 내비게이션 서식

.nav {
  flex-direction: column;
  margin: $inter_avg;
  padding:$inter_min;
  box-sizing: border-box;
  max-width: 600px;
  min-width: 400px;
  width:25%;
  height:calc(100vh - 40px);
  background-color: var(--color-darksig);
  border-radius: $inter_avg;
  @include tablet{
    display: none;
  }
}

@mixin nav_back{
  background-color: var(--color-black);
  border-radius: $inter_avg;
}

.logo {
  @include nav_back;
  max-width: 580px;
  padding:$inter_min 0px;
  box-sizing: border-box;
  text-align: center;
  img{
    vertical-align: top;
  }
}

.gnb{
  @include nav_back;
  margin-top:$inter_min;
  height:100%;
  box-sizing: border-box;
  flex-direction: column;
}

.game{
  width:100%;
  max-height:200px;
  justify-content: space-around;
  li{
    max-width:200px;
    width:45%;
    max-height: 200px;
    padding-bottom:45%;
    transition: 0.5s;
    background-size:contain;
  }
}

.board{
  flex-direction: column;
  justify-content: space-between;
  max-width:580px;
  min-height:320px;
  background-color: var(--color-lightblack);
  border-radius: $inter_avg;
  box-sizing: border-box;
  p{
    font-family: var(--font-robo);
    font-size: 0.75rem;
    text-align: center;
    color:var(--color-lightblue);
    padding-bottom:$inter_min;
    box-sizing: border-box;
  }
}

//컨텐츠 영역
.cont{
  overflow: hidden;
  max-width:2560px;
  width:75%;
  margin:$inter_avg $inter_avg $inter_avg 0px;
  border: 1px solid var(--color-sig);
  border-radius: $inter_avg;
  box-sizing: border-box;
  @include tablet{
    width:100%;
    margin:0px;
  }
}