@charset "utf-8";

$inter_avg:20px;
$inter_min:10px;


body{
  overflow: hidden;
}

// 내비게이션 서식

.nav {
  flex-direction: column;
  margin: $inter_avg;
  padding:$inter_min;
  box-sizing: border-box;
  max-width: 600px;
  height:calc(100vh - 40px);
  background-color: var(--color-darksig);
  border-radius: $inter_avg;
}

@mixin nav_back{
  background-color: var(--color-black);
  border-radius: $inter_avg;
}

.logo {
  @include nav_back;
  max-width: 580px;
  padding:$inter_min 0px;
  box-sizing: border-box;
  text-align: center;
  img{
    vertical-align: top;
  }
}

.gnb{
  @include nav_back;
  margin-top:$inter_min;
  height:100%;
  padding:50px 0px;
  box-sizing: border-box;
}

.game{
  margin:0px 40px;
  margin-bottom:20px;
}

.board{
  flex-direction: column;
  justify-content: space-between;
  max-width:580px;
  background-color: var(--color-lightblack);
  border-radius: $inter_avg;
  box-sizing: border-box;
  p{
    font-family: var(--font-robo);
    font-size: 12px;
    text-align: center;
    color:var(--color-lightblue);
    padding-bottom:$inter_min;
    box-sizing: border-box;
  }
}

//컨텐츠 영역
.cont{
  overflow: hidden;
  max-width:1260px;
  width:100%;
  margin:$inter_avg $inter_avg $inter_avg 0px;
  border: 1px solid var(--color-sig);
  border-radius: $inter_avg;
  box-sizing: border-box;
}